[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
twine = "*"
jupyter = "*"

[packages]
pandas = "*"
numpy = "*"
sklearn = "*"
pylint = "*"
flake8 = "*"

[requires]
python_version = "3.8"
